// SPDX-License-Identifier: GPL-2.0-or-later
// SPDX-FileCopyrightText: 2014 Andreas Boehler <dev@aboehler.at>

/dts-v1/;
#include <arm/kirkwood.dtsi>
#include <arm/kirkwood-6281.dtsi>

/ {
	model = "D-Link DNS-320L NAS";
	compatible = "dlink,dns-320l", "marvell,kirkwood-88f6702", "marvell,kirkwood";

	memory {
		device_type = "memory";
		reg = <0 0x10000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200 earlyprintk";
		stdout-path = &uart0;

		environment {
			compatible = "barebox,environment";
			device-path = &bareboxenv;
		};
	};

	buttons {
		compatible = "gpio-keys";

		sync {
			label = "USB unmount button";
			linux,code = <KEY_COPY>;
			gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
		};
		reset {
			label = "Reset push button";
			linux,code = <KEY_RESTART>;
			gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		blue-usb {
			label = "dns320l:blue:usb";
			gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		};
		orange-l_hdd {
			label = "dns320l:red:ata1";
			gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
		};
		orange-r_hdd {
			label = "dns320l:red:ata2";
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		};
		orange-usb {
			label = "dns320l:orange:usb";
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		sata_power: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "SATA Power";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		};
	};
};

&pinctrl {
	pmx_sata0: pmx-sata0 {
		marvell,pins = "mpp20";
		marvell,function = "sata1";
	};
	pmx_sata1: pmx-sata1 {
		marvell,pins = "mpp21";
		marvell,function = "sata0";
	};

	pmx_led_red_right_hdd: pmx-led-red-right-hdd {
		marvell,pins = "mpp22";
		marvell,function = "gpio";
	};
	pmx_led_red_left_hdd: pmx-led-red-left-hdd {
		marvell,pins = "mpp23";
		marvell,function = "gpio";
	};
	pmx_power_sata: pmx-power-sata {
		marvell,pins = "mpp24";
		marvell,function = "gpio";
	};
	pmx_led_usb_blue: pmx-led-usb-blue {
		marvell,pins = "mpp25";
		marvell,function = "gpio";
	};
	pmx_led_usb_red: pmx-led-usb-red {
		marvell,pins = "mpp26";
		marvell,function = "gpio";
	};
	pmx_button_usb_copy: pmx-button-usb-copy {
		marvell,pins = "mpp27";
		marvell,function = "gpio";
	};
	pmx_button_reset: pmx-button-reset {
		marvell,pins = "mpp28";
		marvell,function = "gpio";
	};
	pmx_button_power: pmx-button-power {
		marvell,pins = "mpp29";
		marvell,function = "gpio";
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&sata {
	status = "okay";
	nr-ports = <2>;
};

&mdio {
	status = "okay";

	ethphy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&eth0 {
	status = "okay";
	ethernet0-port@0 {
		phy-handle = <&ethphy0>;
	};
};

&nand {
	status = "okay";
	chip-delay = <40>;
	nand-ecc-algo = "hamming";

	bootloader: partition@0 {
		label = "bl";
		reg = <0x0000000 0x80000>;
	};
	bareboxenv: partition@e0000 {
		label = "env";
		reg = <0x00e0000 0x20000>;
	};

	partition@a0000 {
		label = "u-boot-env";
		reg = <0x00a0000 0x20000>;
	};
	partition@100000 {
		label = "uImage";
		reg = <0x0100000 0x500000>;
	};
	partition@600000 {
		label = "ramdisk";
		reg = <0x0600000 0x500000>;
	};
	partition@b00000 {
		label = "image";
		reg = <0x0b00000 0x6400000>;
	};
	partition@6f00000 {
		label = "mini firmware";
		reg = <0x6f00000 0xa00000>;
	};
	partition@7900000 {
		label = "config";
		reg = <0x7900000 0x500000>;
	};
	partition@7e00000 {
		label = "my-dlink";
		reg = <0x7e00000 0x200000>;
	};
};

&rtc {
	status = "disabled";
	/* connected to microcontroller, accessible through uart1 */
};
